
body, html, #root {
    padding: 0;
    margin: 0;
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    box-sizing: border-box;
}

/* Navigáció */

.navbar {
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    gap: 10px;
    border-bottom: 1px solid white;
    position: fixed;
    top: 0;
}

.nav-link {
    transition: transform 100ms ease !important;
}

.nav-link:hover {
    transform: scale(1.05);
    text-decoration: overline;
}

/* LoginPanel */

.login-container {
    width: 100vw;
    height: 100vh;
}

.login-panel {
    width: 50%;
    height: 100%;
}

.login-panel .form-control {
    border: none;
    background: none;
    border-bottom: 1px solid black;
    border-radius: 0;
}

.login-panel .form-control:focus {
     box-shadow: none;
}

.login-poster {
    width: 50%;
    height: 100%;
    color: white;
    background-color: rgb(0, 0, 0);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.logo-text {
    font-weight: bold;
}

.notification-box {
    position: fixed;
    top: 50%;
    right: 15px;
    transform-origin: right;
    transition-duration: 300ms;
    transform: scaleX(0);
    opacity: 0;
    z-index: 500;
}

.notification_container    {
    height: 40px;
    background-color: black;
    border-radius: 10px;
    padding: 5px 15px;
    width: fit-content;
    min-width: 200px;
    font-weight: bold;
}

.notification-box.show {
    transform: scaleX(1);
    opacity: 1;
}

/* CardList */

.card-list-container {
    margin-top: 80px;
    flex-wrap: wrap;
}

.list-card {
    flex-shrink: 0;
    width: 300px;
    min-height: 400px;
    height: fit-content;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    overflow-wrap: break-word; 
    word-wrap: break-word; 
    word-break: break-word;
    white-space: normal;
}

.list-card-header {
    border-radius: 10px;
    width: 100%;
    height: 200px;
    color: grey;
    background-color: black;
}

.card-details-container {
    margin-top: 100px;
}

.card-details-card {
    min-height: 50px;
    height: fit-content;
    width: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card-details-card.header {
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 10px;
}

/* TableList */

.table-container {
    margin-top: 80px;
}

/* Loader */

.loader {
        width: 64px;
        height: 64px;
        position: relative;
        background-image:
          linear-gradient(#a08d8d 16px, transparent 0) ,
          linear-gradient(#000000 16px, transparent 0) ,
          linear-gradient(#000000 16px, transparent 0) ,
          linear-gradient(#a08d8d 16px, transparent 0);
        background-repeat: no-repeat;
        background-size: 16px 16px;
        background-position: left top , left bottom , right top , right bottom;
        animation: rotate 1s linear infinite;
      }
      @keyframes rotate {
        0% {
          width: 64px;
          height: 64px;
          transform: rotate(0deg)
        }
        50% {
          width: 30px;
          height: 30px;
          transform: rotate(180deg)
        }
        100% {
          width: 64px;
          height: 64px;
          transform: rotate(360deg)
        }
      }
    

.loader-container {
    top: 700px;
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
}

/* Filter */

.filter-container {
    margin-top: 80px;
    width: 100%;
}

/* Form */

.form {
   margin-top: 80px 
}

.form-container {
    width: 750px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-header {
    height: 50px;
    width: 750px;
    padding: 30px;
    border-radius: 15px;
    background-color: black;
    color: white;
}

.form-container * .form-group {
    width: 80%;
}

.form-container * .form-control {
    border: 1px solid blackwhite;
    background: none;
    width: 100%;
}

.form-container * .form-control:focus {
    box-shadow: none;
}

/* Cart */

.cart-item-container {
    margin-top: 80px;
}

.cart-item-box {
    font-weight: bold;
    padding: 15px;
    border-radius: 10px;
    flex-shrink: 0;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cart_total_container {
    flex-shrink: 0;
    border-radius: 10px;
    height: 60px;
    font-weight: bold;
    background-color: black;
}



